header {
    font-family: 'Noto Serif Japanese';
    background-color: #d52229;
    color: #ffffff;
    font-size: 10vw;
}

.botoesPaginaInicial {
    font-family: 'Noto Serif Japanese' ;
    width: 80vw;
    height: 20vw;
    display: block;
    margin: 0 auto ; 
    background-color: #1e2a38 ;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 8vw; 
}

footer { 

    font-family: 'inter'; 
}

body{
    background-color: #f7f6f2;
    font-family: Arial, sans-serif;
}