@charset "UTF-8";

@font-face {
    font-family: Inter;
    src: url(INTER-VARIABLEFONT_OPSZ,WGHT.TTF);
}

/*      ||configurações gerais             */

a{
    color: inherit;
    text-decoration: none;
}

h1{
    padding: 5vw;
}

p {
    font-size: 25px;
    font-family: Inter;
    padding: 10px 15px;
    
}

/** para conseguir destacar algumas palavras numa frase **/
.destaque{
    font-weight: bold;
}


/*      ||itens        */
.botoes {
    font-family: Inter;
    width: 85vw;
    height: 22vw;
    display: block;
    margin: 0 auto;
    background-color: #1e2a38;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 8vw;
    font-weight: bold;
}


.botoes:active { /*      TO-DO modificar a cor e a escala corretamente             */
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #08274b;
    color: #f7d8b4;

}

.saudeMental {
    padding: 9px 18px;
    border-radius: 999px;
    min-height: 44px;
    min-width: 100px;
    text-align: center;
    font-size: 15px;
}

#btAlzheimer{
    background-color: #1b2f47;
}

#btCerebral{
    background-color: #f24e75;
}

.Img_Texto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.rodapeIni{
    margin-top: 30px;
    padding: 20px;
    font-size: 3px;
}

.icones_social{
    display: felx;
    justify-content: center;
    gap: 15px;
    margin-top: 10px; 
}

.icone {
    width: 15px;
    height: auto;
    cursor: pointer;
}

.icone:hover{
    transform: scale(1.12);
}


/*formatação da Tag a para parecer botao*/
a.btn{
    all: unset;
    box-sizing: border-box;

    font-family: Inter;
    width: 85vw;
    height: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background-color: #1e2a38;
    color: white;

    padding: 10px 15px;
    border-radius: 10px;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;

    text-decoration: none;
    cursor: pointer;
}

/* formato geral da caixinha, sem cor, so a configuracao dela */
.caixinha {
    border-radius: 20px;
    padding: 2vw;
    gap: 20px;
    display: flex;
    margin-bottom: 6px;
    margin-top: 6vw;
    height: 38vw;
    box-sizing: border-box;
}

/* a thumbnail do video */
.thumbnail{
    margin-right: 0vw;
}

/* formato geral do video*/
.thumbnail img {
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    height: 85%;
    width: 91%;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    margin-right: 4.5vw;
}

.nav-localizacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
    margin-bottom: 30px;
}

/* formato geral da div que vai ficar o titulo do video (que fica ao lado da foto do video) */
.texto {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* formato geral do texto que fica ao lado da foto do video */
.texto p {
    font-family: Inter;
    color: white;
    font-size: 6.5vw;
    margin: 0;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
}

/* formato geral do resumo que fica abaixo da div do video*/
.resumoVideo p {
    margin-top: 3px;
    font-family: Inter;
    font-size: 5.5vw;
    text-align: center;
}

/* formato geral dos creditos (o mesmo credito sempre, com o nome da professora) */
.creditosVideo{
    margin-top: -5vw;
}

/* formato geral do paragrafo dos creditos */
.creditosVideo p {
    margin: 0;
    font-family: Inter;
    font-size: 4vw;
    text-align: right;
    padding: 5px;
}

.conteudo{
    margin: 3vw;
}

/* body geral do site */
body {
    background-color: #f7f6f2;
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* titulo quase do mesmo tamanho que o paragrafo, mas em negrito (pagina minhas memorias)*/
#titulinho{
    padding-top: 10vw;
    padding-bottom: 0vw;
    margin: 4vw;
}

/* paragrafo (pagina minhas memorias) */
#paragrafinho{
    padding-top: 0vw;
}

/* botoes (pagina minhas memorias) */
#BotaoAdicionarMemoria{
    all: unset;
    box-sizing: border-box;

    font-family: Inter;
    width: 85vw;
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background-color: #1e2a38;
    color: white;

    padding: 10px 15px;
    border-radius: 30vw;
    font-size: 15vw;
    font-weight: bold;
    text-align: center;

    text-decoration: none;
    cursor: pointer;
}


.BotaoAzulClaro {
    all: unset;
    box-sizing: border-box;

    font-family: Inter;
    width: 85vw;
    height: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background-color: #1e497c;
    color: white;

    padding: 10px 15px;
    border-radius: 15vw;
    font-size: 8vw;
    font-weight: bold;

    text-decoration: none;
    cursor: pointer;
}

/* caixa de texto para resposta página adicionar memória */
.textBox{
    font-family: Inter;
    font-size: 7.5vw;
    text-align: center;
    padding-top: 8vw;
    font-weight: bold;
}

/* botão enviar página adicionar memória */
input[type="submit"] {
    all: unset;
    box-sizing: border-box;

    font-family: Inter;
    width: 50vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background-color: #1e497c;
    color: white;

    padding: 10px 15px;
    border-radius: 15vw;
    font-size: 9vw;
    font-weight: bold;

    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
  width: 85vw; 
  height: 8vw; 
  padding: 1.4vw; 
  font-size: 7vw;
  border-color: black;
  font-family: Inter;
}

/** cofiguração de texto da página linha do tempo e autoconhecimento (alguns)**/

.textoLinhaDoTempo{
    font-size: 6vw;
    text-align: center;
}

#negrito{
    font-weight: bold;
    text-align: left;
}

#pequenoNegrito{
    font-size: 5vw;
    text-align: left;
    font-weight: bold;
    padding-bottom: 0vw;
    margin-bottom: 0vw;;
}

#pequenoNormal{
    font-size: 5vw;
    text-align: left;
    padding-top: 0vw;
    margin-top: 0vw;
}
