@charset "UTF-8";

@font-face {
    font-family: Inter;
    src: url(INTER-VARIABLEFONT_OPSZ,WGHT.TTF);
}

/*      ||configurações gerais             */
header {
    font-family: 'Noto Serif Japanese';
    background-color: #d52229;
    color: #ffffff;
    font-size: 10vw;
    width: 100%;
    margin-left: 0px;
    /** fazer o header ficar grudadinho na tela **/
    padding: 9px;
    /** fazer o header ficar grudadinho na tela **/
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    padding: 5vw;
}

p {
    font-size: 25px;
    font-family: Inter;
    padding: 10px 15px;
}

/*      ||itens        */
.botoes {
    font-family: Inter;
    width: 85vw;
    height: 22vw;
    display: block;
    margin: 0 auto;
    background-color: #1e2a38;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 8vw;
    font-weight: bold;
}


.botoes:active {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #08274b;
    color: #f7d8b4;

}

.saudeMental {
    padding: 9px 18px;
    border-radius: 999px;
    min-height: 44px;
    min-width: 100px;
    text-align: center;
    font-size: 15px;
}

#btAlzheimer{
    background-color: #1b2f47;
}

#btCerebral{
    background-color: #f24e75;
}

#cxSaudeCerebral{
    background-color: #f24e75;
}

#cxAlzheimer{
    background-color: #1b2f47;
}

a.btn{
    font-family: Inter;
    font-size: 15px;
    color: white;
    background-color:#1b2f47;
    display: flex;
    padding: 9px 18px;
    border-radius: 999px;
    min-height: 44px;
    min-width: 100px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    cursor: pointer
}

.caixinha {
    border-radius: 20px;
    padding: 2vw;
    gap: 20px;
    display: flex;
    margin-bottom: 6px;
    margin-top: 6vw;
    height: 38vw;
    box-sizing: border-box;
}

.PlayVideo{
    margin-right: 0vw;
}

.fotoVideosProf {
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    height: 85%;
    width: 91%;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    margin-right: 4.5vw;
}

.nav-localizacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
    margin-bottom: 30px;
}

.texto {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.texto p {
    font-family: Inter;
    color: white;
    font-size: 6.5vw;
    margin: 0;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
}

.resumoVideo p {
    margin-top: 3px;
    font-family: Inter;
    font-size: 5.5vw;
    text-align: center;
}

.creditos{
    margin-top: -5vw;
}

.creditos p {
    margin: 0;
    font-family: Inter;
    font-size: 4vw;
    text-align: right;
    padding: 5px;
}

.conteudo{
    margin: 3vw;
}

body {
    background-color: #f7f6f2;
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
}