<!-- TEM QUE BOTAR DESENHOS AQUI, A BARRA DE NAVEGAÇÃO E A FOTO DO NAVIO, CONTAINER  -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
    <title>Autoconhecimento</title>

</head>

<body>

    <header-component></header-component>

    <section class = "conteudo">
        <p class = "textoAutoconhecimento" id = "negrito">
            Autoconhecimento
        </p>

        <p class = "textoLihaDoTempo">
            Aqui, vamos nos dedicar a explorar <span class="destaque">quem nós somos</span>, por meio das ferramentas:
        </p>

        <ul>
            <li>
                <p class = "itemAutoconhecimento"> <span class = "destaque" >Ikigai</span>: para entender nosso <span class="underline" > propósito de vida; </span> </p>
            </li>

            <li>
                <p class = "itemAutoconhecimento"> <span class = "destaque" >Árvore da vida</span>: para refletir sobre nossas <span class="underline" > origens e jornadas </span> do passado, do presente e do futuro. </p>
            </li>
        </ul>

        <p class = "textoLinhaDoTempo" id = "negrito"> 
            Escolha a ferramenta abaixo que deseja explorar:
        </p>

        <a href = "Ikigai" class = "BotaoAzulClaro" > Ikigai  </a> <br>
        <a href = "Arvore_da_vida" class = "BotaoAzulClaro" > Árvore da vida  </a> <br>

    </section>
</body>