<!-- TEM QUE BOTAR DESENHOS AQUI, A BARRA DE NAVEGAÇÃO -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
    <title>Linha do Tempo</title>

</head>

<body>

    <header-component></header-component>

    <section class = "conteudo"> 

        <p class = "textoLinhaDoTempo"> Cada lembrança tem um começo. Nesta página, recorde o caminho que trouxe o seu povo, a sua família e a sua cultura até o Brasil. </p>

        <p class = "textoLinhaDoTempo" id = "negrito"> 
            1908 <br>
            Chegada dos Primeiros Imigrantes Japoneses no Brasil
        </p>

        <img src="../static/NavioLinhaDoTempo.jpg" class = "fotosLinhaDoTempo" alt = "Imagem do navio que trouxe a família de Mary Okamoto ao Brasil, na década de 1930.">

        <a class = "fonte" href="https://jornal.unesp.br/2023/08/08/japoneses-no-brasil-brasileiros-no-japao/">
            Fonte da imagem: https://jornal.unesp.br/2023/08/08/japoneses-no-brasil-brasileiros-no-japao/
        </a> 


        <p class = "textoLinhaDoTempo" id = "pequenoNegrito" >
            O navio Kasato Maru chegou a Santos trazendo as primeiras famílias japonesas. 
         </p>

        <p class = "textoLinhaDoTemo" id = "pequenoNormal" >
            Vieram com esperança e disposição para trabalhar, acreditando que ficariam por pouco tempo antes de voltar ao Japão. 
        </p>



        <p class = "textoLinhaDoTempo" id = "negrito"> 
            1910 – 1930 <br>
            Raízes no solo brasileiro
        </p>

        <!-- ESPAÇO PARA UMA POSSÍVEL FOTO -->

        <p class = "textoLinhaDoTempo" id = "pequenoNegrito" >
            Nos campos do interior de São Paulo, o trabalho era exigente, mas a comunidade manteve-se unida.  
         </p>

        <p class = "textoLinhaDoTemo" id = "pequenoNormal" >
            Fundaram as primeiras escolas, associações e templos da sua cultura, preservando a língua e os costumes do Japão. 
        </p>

    </section>

</body>

</html>
