<!-- TEM QUE BOTAR DESENHOS AQUI, A BARRA DE NAVEGAÇÃO E A FOTO DO NAVIO  -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
    <title>Linha do Tempo</title>

</head>

<body>

    <header-component></header-component>

    <section class = "conteudo"> 

        <p class = "textoLinhaDoTempo"> Cada lembrança tem um começo. Nesta página, recorde o caminho que trouxe o seu povo, a sua família e a sua cultura até o Brasil. </p>

        <p class = "textoLinhaDoTempo" id = "negrito"> 
            1908 <br>
            Chegada dos Primeiros Imigrantes Japoneses no Brasil
        </p>

        <!-- ESPAÇO PARA INSERIR A FOTO DO NAVIO -->
        <p class = "textoLinhaDoTempo" id = "pequenoNegrito" >
            O navio Kasato Maru chegou a Santos trazendo as primeiras famílias japonesas. 
         </p>

        <p class = "textoLinhaDoTemo" id = "pequenoNormal" >
            Vieram com esperança e disposição para trabalhar, acreditando que ficariam por pouco tempo antes de voltar ao Japão. 
        </p>

    </section>

</body>

</html>
