<!-- FALTA: DESENHOS, BARRA DE NAVEGAÇÃO ver como fazer pras fotos aparecerem aqui depois do usuário adicionar a memória dele -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
    <title>Minha Galeria</title>

</head>

<body>
 
    <header-component></header-component>

    <section class = "conteudo" > 

    <p> Visualize suas memórias por aqui </p>

    </section>

</body>