<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
 
    
    <title>Document</title> 
</head>
<body>
    <header> Memórias Nikkei </header>

    <section class="conteudo"> 

        <p>Olá! <br> 
        Bem-vindo(a) ao seu 
        espaço de memórias e autoconhecimento! </p>

        <h2><strong>Por onde vamos começar?</strong></h2>

        <a href="Relembrar_tradicoes" class="btn"> Relembrar tradições</a> <br>
        <a href="Mural_de_historias" class="btn"> Mural de histórias</a> <br>
        <a href="Minhas_memorias" class="btn"> Minhas memórias</a> <br>
        <a href="Autoconhecimento" class="btn"> Autoconhecimento</a>  <br>
        <a href="saudeMental" class="btn"> Saúde mental e Longevidade</a> 

    <footer> 
        <p> Conheça mais sobre o projeto Memórias Nikkei </p>
    </footer>

    </section>


</body>
</html>
