<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
 
    
    <title>Document</title> 
</head>
<body>
    <header> Memórias Nikkei </header>

    <section class="conteudo"> 

        <p>Olá! <br> 
        Bem-vindo(a) ao seu 
        espaço de memórias e autoconhecimento! </p>

        <h2><strong>Por onde vamos começar?</strong></h2>

        <button class = "botoes PaginaInicial" > Relembrar tradições</button>  <br> 
        <button class = "botoes PaginaInicial"> Mural de histórias </button> <br> 
        <button class = "botoes PaginaInicial"> Minhas memórias </button> <br> 
        <button class = "botoes PaginaInicial"> Autoconhecimento </button> <br> 
        <button class = "botoes PaginaInicial"> Saúde mental e Longevidade</button> <br>

    <footer> 
        <p> Conheça mais sobre o projeto Memórias Nikkei </p>
    </footer>

    </section>


</body>
</html>
