<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
 
    
    <title>Document</title> 
</head>
<body>
    <header-component></header-component>


    <section class="conteudo"> 

        <p>Olá! <br> 
        Bem-vindo(a) ao seu 
        espaço de memórias e autoconhecimento! </p>

        <h2><strong>Por onde vamos começar?</strong></h2>

        <a href="Relembrar_tradicoes" class="btn"> Relembrar tradições</a> <br>
        <a href="Mural_de_historias" class="btn"> Mural de histórias</a> <br>
        <a href="Minhas_memorias" class="btn"> Minhas memórias</a> <br>
        <a href="Autoconhecimento" class="btn"> Autoconhecimento</a>  <br>
        <a href="saudeMental" class="btn"> Saúde mental e Longevidade</a> <br>
        <a href="saudeMental" class="btn"> Jogos cognitivos</a> <br>

        <section>
            <div class="Img_Texto">
                <img src="" alt="decoracaoLua" class="decoracaoLua" style="width: 150px;">
                <a href="SobreNos" style="font-size: 22px;">Conheça mais sobre o projeto Memórias Nikkei</a>
            </div>

            <img src="../static/MemLogo.png" style="width: 350px;" alt="GrandeLogo" >
        </section>


    <footer class="rodapeIni"> 
        <p> Desenvolvido por bacharelandos de Gerontologia e Sistemas de Informação da Universidade de São Paulo. <br> Memórias Nikkei. 2025.<br>Todos os direitos reservados.<p>

        <div class="icone_social">
            <a href="https://www.instagram.com/memorias.nikkei?igsh=MWdsdjJzMTlzMnMwdg==" target="_blank">
                <img src="..static/LogoInsta.png" alt="instagram" class="icone">
            </a>

            <a href="??">
                <img src="../static/LogoEmail.png" alt="email" class="icone">
            </a>
        </div>

    </footer>

    </section>

</body>
</html>
