<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saude Cerebral </title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <header> Memórias Nikkei </header>

    <section class="conteudo"> 
        
        <nav class="nav-localizacao">
            <button class="botoes saudeMental" id="btCerebral"> Saúde Mental </button>
            <Span style="user-select: none;">&gt;&gt;</Span>
            <button class="botoes saudeMental" id="btCerebral"> Saúde cerebral </button>
        </nav>

    <div class=" caixinha " id="cxSaudeCerebral">
        <div class=" texto ">
            <p> Hábitos de vida e doença de Alzheimer </p>
        </div>
        <div class=" PlayVideo ">
            <img src="../static/Thumbnail_prof_alzheimer.png" class="fotoVideosProf" alt="Vídeo Alzheimer">
        </div>
    </div>

    <div class="resumoVideo">
        <p> “Um estilo de vida saudável pode reduzir o risco e retardar o Alzheimer, mesmo com predisposição genética.”
        </p>
    </div>

    <div class="creditos">
        <p> Dra. Deusivania Falcão </p>
    </div>

    <div class=" caixinha " id = "cxSaudeCerebral">
        <div class=" texto ">
            <p> Estimulação cognitiva e saúde cerebral </p>
        </div>
        <div class=" PlayVideo ">
            <img src="../static/Thumbnail_prof_saudeCerebral.jpg" class="fotoVideosProf" alt="Vídeo Alzheimer" >
            
            <div class="botaoPlay">
                <div class="triangulo"></div>
            </div>
        </div>

    </div>

    <div class="resumoVideo">
        <p> “A estimulação cognitiva é essencial para manter nosso cérebro saudável.” </p>
    </div>

    <div class="creditos">
        <p> Dra. Deusivania Falcão </p>
    </div>

    </section>


</body>

</html>