<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        Memórias Nikkei
    </header>

    <section> 

        <h1>Saúde Mental e Longevidade</h1>
        <p> Escolha um dos temas abaixo para encontrar vídeos e informações educativas </p>

        <button style="background-color: #1e2a38;" class = "botoes SaudeMental" > Solidão</button>  <br> 
        <button style="background-color: #1e497c;" class = "botoes SaudeMental"> Hábitos Saudáveis </button> <br> 
        <button style="background-color: #1e2a38;" class = "botoes SaudeMental"> Doença de Alzheimer </button> <br> 
        <button style="background-color: #1e497c;" class = "botoes SaudeMental"> Saúde Cerebral </button> <br> 
        <button style="background-color: #1e2a38;" class = "botoes SaudeMental"> Autoconhecimento</button> <br>

    </section>

        
</body>
</html>