<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <header>
        <a href="paginaInicial">Memórias Nikkei</a>
    </header>

    <section class="conteudo"> 
        
        <nav class="nav-localizacao">
            <button class="botoes saudeCerebral"> Saúde Mental </button>
            <Span style="user-select: none;">&gt;&gt;</Span>
            <button class="botoes saudeCerebral"> Saúde cerebral </button>
        </nav>

    <div class=" caixinha " id = "cxAlzheimer">
        <div class=" texto ">
            <p> Emoção, comportamento e doença de Alzheimer </p>
        </div>
        <div class=" PlayVideo ">
            <img src="../static/Thumbnail_prof_alzheimer.png" class="fotoVideosProf" alt="Vídeo Alzheimer" height="100px">
        </div>
    </div>

    <div class="resumoVideo">
        <p> “Desvendando como o Alzheimer transforma emoções e comportamento e aprendendo a cuidar melhor!”
        </p>
    </div>

    <div class="creditos">
        <p> Dra. Deusivania Falcão </p>
    </div>

    <div class=" caixinha ">
        <div class=" texto ">
            <p> Como a arteterapia pode ajudar pessoas com Alzheimer </p>
        </div>
        <div class=" PlayVideo ">
            <img src="../static/Thumbnail_prof_saudeCerebral.jpg" class="fotoVideosProf" alt="Vídeo Alzheimer" width="80px" height="100px">
            
            <div class="botaoPlay">
                <div class="triangulo"></div>
            </div>
        </div>

    </div>

    <div class="resumoVideo">
        <p> “ A arteterapia é uma intervenção não farmacológica que auxilia o tratamento da doença de Alzheimer. ” </p>
    </div>

    <div class="creditos">
        <p> Dra. Deusivania Falcão </p>
    </div>

    </section>


</body>

</html>